fastapi
uvicorn[standard]
python-socketio
python-jose[cryptography]
cryptography
pydantic
slowapi
psycopg2-binary
SQLAlchemy>=2.0.0
alembic
twilio
firebase-admin
python-dotenv
bcrypt
pytest
httpx
pytz
